
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + foto + ')'}"></div>
    <mat-card-title>{{nombre}}</mat-card-title>
    <mat-card-subtitle>{{correo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="salir()">Salir</button>
  </mat-card-actions>
</mat-card>
