@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700');


* {
  font-family: 'Roboto', sans-serif !important;
}

html, body {
  height: 100% !important;
}

body {
  background-color: #dedede !important;
  margin: 2em 0 !important;
}


