<div class="contenedor mat-elevation-z8">

  <!-- Si esta autenticado no muestro ingreso -->
  <mat-tab-group mat-stretch-tabs *ngIf="!autenticado">
    <mat-tab label="INGRESO" position="0">
      <app-componente-ingresa></app-componente-ingresa>
    </mat-tab>


    <mat-tab label="REGISTRO" position="0">
      <app-componente-registro></app-componente-registro>
    </mat-tab>
  </mat-tab-group>

  <!-- Si esta autenticado muestro el perfil -->
  <app-componente-perfil [nombre]="user.displayName" [correo]="user.email" [foto]="user.photoURL" *ngIf="autenticado"></app-componente-perfil>

</div>


