<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-card class="form-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo electrónico" formControlName="email" required type="email" autocomplete="off">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required') && formSubmitted">
              Ingrese un correo electrónico
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email') && formSubmitted">
              El formato de correo electrónico es invalido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Contraseña" formControlName="pass" required autocomplete="off">
            <mat-error *ngIf="loginForm.controls['pass'].hasError('required') && formSubmitted">
              Ingrese una contraseña
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</form>
