.full-width {
  width: 100%;
}

.form-card {
  min-width: 120px;
  margin: 0 auto;
  padding: 2em;
  padding-top: 4em;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
