<form [formGroup]="regForm" novalidate (ngSubmit)="onSubmit()">

  <mat-card class="form-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="regForm.controls['nombre'].hasError('required')">
              Ingrese un nombre
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="apellido" required autocomplete="off">
            <mat-error *ngIf="regForm.controls['apellido'].hasError('required')">
              Ingrese un apellido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Número de teléfono" formControlName="telefono" type="tel" required autocomplete="off">
            <mat-error *ngIf="regForm.controls['telefono'].hasError('required')">
              Ingrese un número de teléfono
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo electrónico" formControlName="email"  type="email" required autocomplete="off">
            <mat-error *ngIf="regForm.controls['email'].hasError('required') && formSubmitted">
              Ingrese un correo electrónico
            </mat-error>
            <mat-error *ngIf="regForm.controls['email'].hasError('email') && formSubmitted">
              El formato de correo electrónico es invalido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Contraseña" formControlName="pass" required autocomplete="off">
            <mat-error *ngIf="regForm.controls['pass'].hasError('required') && formSubmitted">
              Ingrese una contraseña
            </mat-error>

            <mat-error *ngIf="regForm.controls['pass'].hasError('minlength') && formSubmitted">
              La contraseña debe tener por lo menos 6 caracteres
            </mat-error>

          </mat-form-field>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions align="end">
      <span flex></span>
      <button mat-raised-button color="primary" type="submit">Registrarse</button>
    </mat-card-actions>
  </mat-card>
</form>
